---
import Layout from '../../layouts/Layout.astro'
import CustomerCard from '../../components/CustomerCard.astro'
import { fetchCustomers } from '../../lib/neondatafetcher.js'
const pageTitle = "Customers Index Page";

const allCustomers = await fetchCustomers();

---

<Layout title={pageTitle}>
    <section>
        <h2>My Customers</h2>
        <form action="">
            <div class="form-group">
                <input type="search" class="form-control" name="search" placeholder="Search customers by country" >
            </div>
            <button type="submit" class="submit-btn" hx-post="/customers/partials/customersbycountry" hx-trigger="click delay:500ms" hx-target=".grid-container">Search</button>
        </form>
        
        <div class="grid-container">
        { allCustomers && allCustomers.map(customer => (
            <div class="link-card grid-item">
                <a href={customer.id}>
                    <h2>
                        {customer.customername}
                        <span>&rarr;</span>
                    </h2>
                    <p>
                        {customer.customeraddress}
                    </p>
                    <p>{customer.city}</p>
                    <p>{customer.postalcode}</p>
                    <h3>{customer.country}</h3>
                </a>
            </div>
            ))
        }
        { !allCustomers.length && 
            <p>No customers to display</p>
        }
        </div>
    </section>

</Layout>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        column gap: 20px;
        row-gap: 2em;
        
    }
    .grid-item {
        border: 2px solid #ccc;
        border-radius: 5px;
        padding: 10px;
    }
    .grid-item:hover {
        border: 5px solid #cef;
    }

    .
    
</style>